:root{
  --color-basic: #363636;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+mono');

body *{
  font-family: 'Roboto', sans-serif;
  color: var(--color-basic);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto mono', monospace;
}
